/*
====================================================
    FONTS
====================================================
*/
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/rubik-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("fonts/rubik-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: fallback;
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/rubik-v14-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("fonts/rubik-v14-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: fallback;
}
/*
====================================================
    ROOT & BODY
====================================================
*/
:root {
    --mainColour: #e7c076;
    --secondaryColour: #ad8e55;
    --tertiaryColour: #735929;
}
:root,
body {
    height: 100%;
    margin: 0;
}
body {
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    font-family: "Rubik", sans-serif;
}
::selection {
    color: #000;
    background-color: var(--mainColour);
}
::placeholder {
    color: #000;
    opacity: 1;
}
/*
====================================================
    SCROLLBARS
====================================================
*/
body::-webkit-scrollbar {
    width: 14px;
}
:not(body)::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--mainColour);
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%),
    inset -2px -2px 2px rgb(0 0 0 / 25%);
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}
/*
====================================================
    GENERAL LAYERS
====================================================
*/
.z1 {
    z-index: 1;
}
.prel {
    position: relative;
}
.pabs {
    position: absolute;
}
.bb {
    box-sizing: border-box;
}
.w100 {
    width: 100%;
}
.w310 {
    width: 310px;
    max-width: 310px;
}
.wi {
    width: inherit;
}
.wfc {
    width: fit-content;
    width: -moz-fit-content;
}
.p0 {
    padding: 0;
}
.m0 {
    margin: 0;
}
.h100 {
    height: 100%;
}
.hi {
    height: inherit;
}
.g {
    display: grid;
}
.f {
    display: flex;
}
.fdc {
    flex-direction: column;
}
.aic {
    align-items: center;
}
.jcc {
    justify-content: center;
}
.jcsb {
    justify-content: space-between;
}
.jcse {
    justify-content: space-evenly;
}
.c1 {
    color: var(--mainColour);
}
.c2 {
    color: var(--secondaryColour);
}
.cb {
    color: #000;
}
.cw {
    color: #fff;
}
.b1 {
    background-color: var(--mainColour);
}
.b2 {
    background-color: var(--secondaryColour);
}
.bw {
    background-color: #fff;
}
.bs0 {
    border-style: none;
}
.bs1:focus {
    border: 2px solid var(--mainColour);
}
.bs2 {
    border: 2px solid var(--secondaryColour);
}
.bsb {
    border: 2px solid #000;
}
.bsb2 {
    border: 3px solid #000;
}
.os0 {
    outline-style: none;
}
.br0 {
    border-radius: 0;
}
.br6 {
    border-radius: 6px;
}
.f13,
.f13::placeholder {
    font-size: 13px;
}
.f14,
.f14::placeholder {
    font-size: 14px;
}
.f15,
.f15::placeholder {
    font-size: 15px;
}
.f16,
.f16::placeholder {
    font-size: 16px;
}
.f17,
.f17::placeholder {
    font-size: 17px;
}
.l25 {
    line-height: 25px;
}
.tac {
    text-align: center;
}
.cp {
    cursor: pointer;
}
/*
====================================================
    SPECIFIC LAYERS
====================================================
*/
.code-link {
    top: 0;
    right: 0;
    padding: 4px 7px;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgb(255 255 255 / 50%),
    inset 2px -2px 2px 0 rgb(173 142 85 / 50%);
    border-bottom-left-radius: 5px;
}
.code-link:hover {
    color: #fff;
    background-color: var(--mainColour);
}
.code-link svg {
    margin-left: 1px;
}
.code-link:hover path {
    fill: #fff;
}
.stripe {
    border-bottom: 3px solid #000;
}
.pad {
    padding-top: 40px;
    padding-bottom: 35px;
}
.back::after {
    position: absolute;
    background-color: #fff;
    content: "";
    width: 100%;
    height: 100%;
    left: 2px;
    top: 2px;
    z-index: -1;
    border: 3px solid #000;
}
/*
====================================================
    TOOLTIP
====================================================
*/
[data-tooltip]::before,
[data-tooltip]::after {
    opacity: 0;
    position: absolute;
    transition: 0.3s;
    cursor: default;
    pointer-events: none;
}
[data-tooltip]::before {
    content: attr(data-tooltip);
    left: -38px;
    bottom: 125%;
    width: 100px;
    height: 25px;
    line-height: 25px;
    background-color: var(--mainColour);
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
[data-tooltip]::after {
    content: "";
    left: 7px;
    bottom: 101%;
    border-width: 5px;
    border-style: solid;
    border-color: var(--mainColour) transparent transparent transparent;
}
.tooltipOpaque::before,
.tooltipOpaque::after {
    opacity: 1;
}
/*
====================================================
    H1 & H2 LAYERS
====================================================
*/
h1,
h2 {
    font-weight: 800;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: var(--mainColour);
}
h2.l1 {
    margin-bottom: 30px;
}
h2.l2 {
    margin-top: 30px;
}
/*
====================================================
    P LAYERS
====================================================
*/
p {
    font-weight: 400;
}
/*
====================================================
    A LAYERS
====================================================
*/
a {
    cursor: pointer;
    word-break: break-word;
    text-decoration: none;
    color: var(--secondaryColour);
    -webkit-tap-highlight-color: var(--mainColour);
}
a.l1 {
    border-bottom: 1px solid var(--secondaryColour);
}
a.l1:hover {
    border-bottom: 2px solid var(--secondaryColour);
}
/*
====================================================
    SPAN LAYERS
====================================================
*/
span.l1 {
    font-weight: bold;
    letter-spacing: 1px;
}
span.l2 {
    right: 0;
    width: 35px;
    height: 35px;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgb(173 142 85 / 50%),
    inset 2px -2px 2px 0 rgb(173 142 85 / 50%);
    pointer-events: none;
}
span.l2::before,
span.l2::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
span.l2::before {
    top: 11px;
    border-bottom: 6px solid var(--tertiaryColour);
}
span.l2::after {
    top: 19px;
    border-top: 6px solid var(--tertiaryColour);
}
/*
====================================================
    FIELDSET LAYERS
====================================================
*/
fieldset.l1 {
    height: 225px;
}
fieldset.l2 {
    grid-row-gap: 20px;
}
/*
====================================================
    LEGEND LAYERS
====================================================
*/
legend.l1 {
    top: 50%;
    transform: translateY(-50%);
}
/*
====================================================
    LABEL LAYERS
====================================================
*/
label.l1:before {
    content: "";
    border: 3px solid var(--mainColour);
    border-radius: 50%;
    width: 11px;
    height: 11px;
    margin-right: 11px;
}
input.l1:checked + label.l1:before,
input.s1:checked + label.l1:before {
    background-color: var(--mainColour);
}
label.l2 {
    grid-template-columns: auto 1fr;
    grid-column-gap: 15px;
}
/*
====================================================
    SELECT LAYERS
====================================================
*/
select.l1 {
    height: 35px;
    padding-left: 15px;
    padding-right: 45px;
    -webkit-appearance: none;
}
/*
====================================================
    FORM LAYERS
====================================================
*/
form.l1 {
    margin-bottom: 0;
}
form.l2 {
    grid-row-gap: 20px;
}
/*
====================================================
    TEXTAREA LAYERS
====================================================
*/
textarea.l1 {
    max-width: 310px;
    height: 100px;
    padding: 10px;
    font-family: "Rubik", sans-serif;
    resize: none;
    transition: 0.2s;
}
/*
====================================================
    INPUT LAYERS
====================================================
*/
input.l1 {
    transition: 0.2s;
}
input.l1[type="number"] {
    -moz-appearance: textfield;
}
input.l1::-webkit-outer-spin-button,
input.l1::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input.l2 {
    width: 60px;
}
input.l3 {
    height: 35px;
}
input.l4 {
    padding-left: 15px;
    padding-right: 50px;
}
input.l5 {
    padding-left: 10px;
}
input.s1 {
    left: -99999999px;
}
input.s2[type="color"]::-webkit-color-swatch {
    background-color: transparent !important;
    border-style: none;
}
input.s2[type="color"]::-moz-color-swatch {
    background-color: transparent !important;
    border-style: none;
}
input.s2[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input.s3 {
    color: rgba(0,0,0,0);
    background-color: var(--mainColour);
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgb(255 255 255 / 50%), inset 2px -2px 2px 0 rgb(173 142 85 / 50%);
    border: 2px solid var(--tertiaryColour);
}
input.s3::file-selector-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin-right: 0;
    background-color: transparent;
    border-style: none;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    pointer-events: none;
}
/*
====================================================
    OUTPUT LAYERS
====================================================
*/
output.l1 {
    height: 86px;
}
output.l2 {
    height: 35px;
}
output.l3 {
    height: 340px;
}
/*
====================================================
    BUTTON LAYERS
====================================================
*/
button {
    cursor: pointer;
}
button.l1 {
    width: 304px;
    height: 45px;
    padding-top: 12px;
    padding-left: 11px;
    border: 2px solid var(--mainColour);
    letter-spacing: 1px;
}
/*
====================================================
    SVG LAYERS
====================================================
*/
svg.l1 {
    right: 0;
    padding-left: 5px;
    padding-right: 5px;
    pointer-events: none;
}
/*
====================================================
    IMG LAYERS
====================================================
*/
img.l1 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
img.l2 {
    width: 150px;
    padding: 6px;
    background-color: #e7c076;
}
/*
====================================================
    PICTURE LAYERS
====================================================
*/
picture.l1 {
    max-height: inherit;
}
/*
====================================================
    UL LAYERS
====================================================
*/
ul.l1 {
    width: 60%;
    align-content: center;
    list-style-type: none;
}
ul.l1 > li:hover {
    color: #000;
}
/*
====================================================
    LI LAYERS
====================================================
*/
li.l1 {
    height: 60px;
    padding-top: 12px;
    padding-left: 11px;
    position: relative;
    border: 3px solid var(--mainColour);
    letter-spacing: 1px;
}
@media screen and (min-width: 600px) {
    ul.l1 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 40px;
    }
    #container {
        width: 80%;
    }
    #GitHub-link {
        margin-right: 2px;
        align-self: flex-end;
    }
    #profile-text {
        margin-left: 33px;
    }
}
@media screen and (min-width: 600px) and (max-width: 680px) {
    li.l1 {
        font-size: 13px;
    }
    #GitHub-link,
    .code-link {
        display: none;
    }
}
@media screen and (max-width: 599px) {
    h1 {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }
    ul.l1 {
        grid-row-gap: 30px;
    }
    #container {
        width: 98%;
    }
    #profile-container {
        flex-direction: column;
    }
    #profile-text {
        text-align: center;
    }
}